[config]
schemaVersion = "0.0.1"


[package]
namespace = "Winctran"
name = "NudeMelinoe"
versionNumber = "1.1.2"
description = "Strips Melinoe naked on most of her in-game occurences."
websiteUrl = "https://github.com/winctran/NudeMelinoe"
containsNsfwContent = true

[package.dependencies]
Hell2Modding-Hell2Modding = "1.0.79"
LuaENVY-ENVY = "1.2.0"
SGG_Modding-Chalk = "2.1.1"
SGG_Modding-ReLoad = "1.0.2"
SGG_Modding-SJSON = "1.0.0"
SGG_Modding-ModUtil = "4.0.1"


[build]
icon = "./icon.png"
readme = "./README.md"
outdir = "./build"

[[build.copy]]
source = "./CHANGELOG.md"
target = "./CHANGELOG.md"

[[build.copy]]
source = "./LICENSE"
target = "./LICENSE"

[[build.copy]]
source = "./src"
target = "./plugins"

[[build.copy]]
source = "./data"
target = "./plugins_data"


[publish]
repository = "https://thunderstore.io"
communities = [ "hades-ii", ]

[publish.categories]
hades-ii = [ "mods", ]
